@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

/* GLOBAL STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Zilla Slab', serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
	color: #ffffff;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    margin: 0;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    color: #000000;
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: 0.05rem;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: #0f990f;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #0f990f;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}

.cta:hover {
	color: white;
	background-color: #0f990f;
	box-shadow: 0 0 10px #30d630, 
		0 0 10px #30d630, 
		0 0 10px #30d630;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

.brand h1 span {
	color: #0f990f;
}

/* -------------------------------------------------------------------------------- */

/* HEADER SECTION */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #0f990f;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* HEADER SECTION ENDS */

/* -------------------------------------------------------------------------------- */

/* BANNER STYLING */
#banner-section{
    background-image: url(../img/cover-img.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#banner-section::after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#banner-section .banner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#banner-section h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text-reveal .5s ease forwards;
    animation-delay: 0.1s;
}

#banner-section h1:nth-child(1){
    animation-delay: 1.5s;    
}
#banner-section h1:nth-child(2){
    animation-delay: 2.5s;
}

@keyframes text-reveal {
    100%{
        color: white;
    }
}

#banner-section h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #0f990f;
    animation: text-reveal-box 1s ease;
    animation-delay: 1s;
}

#banner-section h1:nth-child(1) span{
    animation-delay: 1s;    
}
#banner-section h1:nth-child(2) span{
    animation-delay: 2s;
}

@keyframes text-reveal-box {
    50%{
        width:100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

/* BANNER-SYLING ENDS HERE */

/* -------------------------------------------------------------------------------- */

/* SERVICE STYLING */
#service-section .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#service-section .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#service-section .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../img/service.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#service-section .service-item::after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(60deg, #293c30 0%, #486354 100%);
    opacity: 0.8;
    z-index: -1;
}

#service-section .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#service-section .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

#service-section .service-item p{
    text-align: left;
    color: #ffffff;
}
/* SERVICE STYLING ENDS HERE */

/* -------------------------------------------------------------------------------- */

/* PROJECT STYLING */

#project-section .project{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#project-section .project-top h1{
    margin-bottom: 50px;
}

#project-section .project-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#project-section .project-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#project-section .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(60deg, #293c33 0%, #48634c 100%);
    color: white;
}

#project-section .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#project-section .project-info h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 10px;
}

#project-section .project-info p{
    color: #ffffff;
}

#project-section .project-img {
    flex-basis: 50%;
    height: 300px;  
    overflow: hidden;  
    position: relative;
}

#project-section .project-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
}

#project-section .project-img img{
    transition: .3s ease transform;
}

#project-section .project-item:hover .project-img img{
    transform: scale(1.1);
}
/* PROJECT STYLING ENDS */

/* -------------------------------------------------------------------------------- */

/* ABOUT STYLING */
#about-section .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about-section .col-left {
	width: 250px;
	height: 360px;
}
#about-section .col-right {
	width: 100%;
}
#about-section .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#about-section .col-right p {
	margin-bottom: 20px;
}
#about-section .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about-section .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about-section .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #0f990f;
	z-index: -1;
}


/* ABOUT STYLING END */

/* -------------------------------------------------------------------------------- */

/* CONTACT STYLING */

#contact-section .contact{
    flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}

#contact-section .contact-items {
	width: 400px;
}

#contact-section .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}

#contact-section .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact-section .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-section .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#contact-section .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

/* CONTACT STYLING END */

/* FOOTER SECTION */
#footer-section {
	background-image: linear-gradient(60deg, #293c32 0%, #48634c 100%);
}
#footer-section .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer-section h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer-section .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer-section .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer-section .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer-section .social-item:hover img {
	filter: grayscale(0);
}
#footer-section p {
	color: white;
	font-size: 1.3rem;
}
/* FOOTER SECTION ENDS */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#banner-section h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services-section .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#project-section .project-item {
		flex-direction: row;
	}
	#project-section .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#project-section .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#project-section .project-bottom .project-info {
		height: 100%;
	}
	#project-section .project-bottom .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about-section .about {
		flex-direction: row;
	}
	#about-section .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about-section .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #0f990f;
	}
	#about-section .col-right {
		text-align: left;
		padding: 30px;
	}
	#about-section .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact-section .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact-section .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact-section .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact-section .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact-section .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#service-section .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */